<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Green Age - Free Website Template</title>

<link rel="stylesheet" href="/css/tooplate_style.css" />
<link rel="stylesheet" href="/css/nivo-slider.css" />

<script src="/js/jquery.js"></script>
<script src="/js/jquery.nivo.slider.js"></script>

<script>
function clearText(field) {
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

$(window).on('load', function() {
    $('#slider').nivoSlider({
        effect:'random',
        slices:10,
        animSpeed:500,
        pauseTime:2200,
        startSlide:0,
        directionNav:false,
        controlNav:false,
        pauseOnHover:true
    });
});
</script>

</head>

<body class="homepage">

<div id="tooplate_wrapper">

    <!-- HEADER -->
    <%- include('partials/header') %>

    <!-- MENU -->
    <%- include('partials/menu') %>

    <!-- SLIDER -->
    <%- include('partials/slider') %>

    <!-- MAIN -->
    <div id="tooplate_main">

        <!-- WELCOME -->
        <%- include('partials/welcome') %>

        <!-- PROJECTS -->
        <%- include('partials/projects') %>

    </div>

</div>

<!-- FOOTER -->
<%- include('partials/footer') %>

</body>
</html>